/* src/components/itemDB/ItemViewer.css */
.budget-codex-page {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  gap:5px;
}

.item-db-container {
  background-color: rgba(30, 30, 30, 0.75);
  padding: 5px;
  margin: 3% auto 3% 3%; /* Adjust right margin as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.item-viewer-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.search-and-enchant-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
  max-width: 666px;
}

.search-container input {
  width: 100%;
  padding: 5px 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0px 10px;
  font-size: 16px;
}

.filter-container {
  display: flex;
  gap: 30px; /* Space between filters */
}

.rarity-filter,
.enchant-level-filter {
  display: flex;
  align-items: center;
}

.rarity-filter select,
.enchant-level-filter select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 3px;
}

.search-container {
  position: relative;
  margin-bottom: 3px;
  margin-left: 10px;
  max-width: 500px;
}

.search-results.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  background-color: rgba(30, 30, 30, 0.98);
  border-radius: 5px;
  z-index: 10;
  margin-top: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-results.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-results.dropdown li {
  padding: 8px 12px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.search-results.dropdown li:hover {
  background-color: #824392;
}

.item-details {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(18, 18, 18);
  max-width: 600px;
  margin-top: 20px; /* Add some space between header and details */
}

.item-details h2 {
  margin-top: 0;
  text-align: center;
}

.item-details h3 {
  margin-top: 15px;
}

.item-details ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item-details li {
  padding: 5px 0;
}

.selected-item-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background-color: rgb(18, 18, 18);
}

.set-bonus-container {
  margin-top: 20px;
  border-top: 1px solid #eee;
  padding-top: 15px;
  margin-bottom: 15px;
}

.set-bonus-title {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 5px;
}

.set-bonus-effects {
  list-style: none;
  padding-left: 20px;
  margin-bottom: 10px;
}

.set-bonus-effects li {
  padding: 3px 0;
  font-size: 0.95em;
}

.set-bonus-effects li span {
  font-weight: bold;
  margin-right: 5px;
}

.power-calc-container {
  background-color: rgba(50, 50, 50, 0.75); /* Different background for visual distinction */
  padding: 20px;
  margin: 3% 3% 3% auto; /* Adjust left margin as needed */
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px; /* Optional rounded corners */
}

/* Styles for PowerCalc component itself (if needed) */
.power-calc label {
  display: block;
  margin-bottom: 5px;
  color: #f0f0f0; /* Adjust text color */
}

.power-calc input[type="number"] {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 80%; /* Adjust input width */
  background-color: #444; /* Darker input background */
  color: #f0f0f0;
}

.power-calc .results {
  margin-top: 20px;
  color: #f0f0f0;
  text-align: center;
}

.power-calc .results h3 {
  margin-top: 0;
}

.item-power-range{
  margin-top: 33%;
}

/* Global CSS or itemViewer.css */

.font-game {
  font-family: Crimson Text, serif;
  font-weight: 400;
}

.bg-card-dark {
  background-color: rgb(18, 18, 18)#1E1E1E; /* Example dark background */
}

.text-primary {
  color: #FFFFFF; /* Example primary text color */
}

.text-secondary {
  color: #A0A0A0; /* Example secondary text color */
}

.border-gray {
  border-color: #444444; /* Example gray border */
}

.bg-dark {
  background-color: rgb(18, 18, 18); /* Example darker background */
}

.bg-black-500 {
  background-color: #262626; /* Example slightly lighter black */
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Example text shadow */
}

.small-caps {
  font-variant: small-caps;
}

.fade-both {
  box-shadow: inset 100px 0 90px -35px #1c1c1c,inset -100px 0 90px -35px #1c1c1c;
}

.relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.border {
  border-width: 1px;
  border-style: solid;
}

.tracking-wider {
  letter-spacing: 0.05em;
}

.md\:w-\[420px\] {
  /* Media query for medium screens */
  width: 420px;
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
}

.md\:min-h-\[84px\] {
  /* Media query for medium screens */
  min-height: 84px;
}

.from-1\% {
  /* Gradient stops - adjust as needed */
}

.from-40\% {
  --tw-gradient-from-position: 40%;
}

.\!from-black {
	--tw-gradient-from: #000000 var(--tw-gradient-from-position) !important;
	--tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position) !important;
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to) !important;
}
.to-90\% {
  --tw-gradient-to-position: 90%;
}
.from-\[\#1f3a1a\]\/10 {
	--tw-gradient-from: rgb(31 58 26 / .1) var(--tw-gradient-from-position);
	--tw-gradient-to: rgb(31 58 26 / 0) var(--tw-gradient-to-position);
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.to-\[\#1f3a1a\] {
	--tw-gradient-to: #1f3a1a var(--tw-gradient-to-position);
}
.bg-gradient-to-b {
	background-image: linear-gradient(to bottom,var(--tw-gradient-stops));
}
.p-2 {
  padding: 0.5rem;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.gap-2 {
  gap: 0.5rem;
}

.h-16 {
  height: 4rem;
}

.w-16 {
  width: 4rem;
}

.shrink-0 {
  flex-shrink: 0;
}

.rounded-sm {
  border-radius: 0.125rem;
}

.w-\[64px\] {
  width: 64px;
}

.h-\[64px\] {
  height: 64px;
}

.drop-shadow-\[0px_0px_1px_rgb\(255_255_255_0\.1\)\] {
  filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.1));
}

.\-ml-\[2px\] {
  margin-left: -2px;
}

.\-mt-\[2px\] {
  margin-top: -2px;
}

.justify-center {
  justify-content: center;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.w-32 {
  width: 8rem;
}

.rotate-45 {
  transform: rotate(45deg);
}

.bg-white {
  background-color: #FFFFFF;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.border-b {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.border-t {
  border-top-width: 1px;
  border-top-style: solid;
}

.border-neutral-700 {
  border-color: #4A5568; 
}

.bg-neutral-700 {
  background-color: #4A5568; 
  }

.core-stat { 
  color: rgb(209, 209, 209); 
  font-weight: bold;
  background-color: rgb(64 64 64);
}

.core-stat > div > span {
  color: rgb(209, 209, 209); 
  background-color: rgb(64 64 64);
}

.core-stat > div > div { 
  background-color: rgb(64 64 64);
}

/* Style for primary stats */
.primary-stat {
  color:rgb(209, 209, 209);
  font-style: italic;
}

.primary-stat > div > span {
  color: rgb(209, 209, 209);
}

.grid > div.core-stat:nth-child(even) {
  color: rgb(209, 209, 209)
}

.grid > div.primary-stat:nth-child(even) {
  color: rgb(209, 209, 209);
  font-style: italic;
}